<div ngbDropdown class="d-inline-block user-icon">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{user?.userName || "Sign In"}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="user-dropdown">
    <button *ngIf = "!user" class="dropdown-item" (click) = "onClickLogin()">Sign In</button>
    <button *ngIf = "!user" class="dropdown-item" (click) = "onClickRegister()">Sign up</button>
    <button *ngIf = "user" class="dropdown-item" (click) = "onClickLogout()">Sign Out</button>
  </div>
</div>
