<div class="modal-header">
  <h4 class="modal-title">Add New Project</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <mat-dialog-content>
        <input matInput [(ngModel)]="this.name" placeholder="Name of New Project">
    </mat-dialog-content>
    <div id="warning" class="warning-note"></div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark add-button" (click)="addProject()">Add</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
