<div class="modal-header">
  <h4 class="modal-title">Delete the Dictionary</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <mat-dialog-actions>
    <p class="modal-title">Confirm to Delete the Dictionary {{dictionary.name}}</p>
  </mat-dialog-actions>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark delete-confirm-button" (click)="deleteDictionary()"  >Confirm</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
