@import '../workspace.component.scss';
.texera-navigation-body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 14% 64% 22%;
  grid-template-rows: 100%;
}

.button {
  display: inherit;
  .btn.btn-secondary {
    margin-right: 5px;
  }
}

.texera-navigation-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.texera-navigation-utilities {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.texera-navigation-execute {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: end;
}

.utility-button:hover {
  cursor: pointer;
  color: gray;
}

.utility-button-disabled {
  color: gray;
}

.utility-button-disabled:hover {
  color: gray;
}

.texera-navigation-run-text {
  font-size: 1rem;
}

.texera-navigation-run-button {
  margin-right: 3%;
  background-color: #5081F3;
  color: white;
  &:hover {
    background-color: #2E66E9;
  }
  .mat-raised-button {
    height: 30px;
  }
  .fa {
    padding-right: 6px;
  }
}

.version-number {
  color: #F2F1F1;
  font-size: 10px;
}

.drop-down-item {
  display: block;
  width: 100%;
  text-align: left;
  border: transparent;
  background-color: transparent;
}

.drop-down-item:hover {
  background-color: #C6C6C6;
  cursor: pointer;
}

.drop-down-button{
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

.drop-down-icon{
  margin-right: 0px;
}
