<div class="modal-header">
  <h4 class="modal-title">{{dictionary.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of dictionary.items" [selectable]="selectable" [removable]="removable" (removed) = "remove(item)">
      {{item}}
      <mat-icon matChipRemove  *ngIf="removable">
        <i class="fa fa-times-circle"></i>
      </mat-icon>
    </mat-chip>
  </mat-chip-list>
  <br>
  <mat-divider></mat-divider>
  <br>

  <mat-dialog-actions>
    <input *ngIf="ifAdd" matInput [(ngModel)]="name" placeholder="Add into dictionary">
    <button type="button" class="btn btn-outline-dark add-button" (click)="addDictionaryItem()"  >Add</button>
  </mat-dialog-actions>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
