*.iml
/.idea
/.idea_modules
/.project
/.settings
target/
out/
user-resources/
bin/
obj/
OrleansAdoNetContent/
large_Input.csv

Count_1
Count_10
Count_11
Count_2
Count_3
Count_4
Count_5
Count_6
Count_7
Count_8
Count_9
Filter_10
Filter_11
Filter_2
Filter_3
Filter_4
Filter_5
Filter_6
Filter_7
Filter_8
Filter_9
KeywordSearch_10
KeywordSearch_11
KeywordSearch_2
KeywordSearch_3
KeywordSearch_4
KeywordSearch_5
KeywordSearch_6
KeywordSearch_7
KeywordSearch_8
KeywordSearch_9
Scan_10
Scan_11
Scan_2
Scan_3
Scan_4
Scan_5
Scan_6
Scan_7
Scan_8
Scan_9
large_input.csv
median_input.csv


# Ignoring IntelliJ related files
.idea


# Ignoring Eclipse files
.classpath
.project
.settings

# Ignoring index folder and data folder
index
catalog
plan/
plan_files/
query-results/

# Ignoring Mac OSX specific files
.DS_Store

