

/**
* this class fix the size of the button inside the feature bar. All the buttons are listed
* in column and the text is aligned to the left
**/
.fa {
  font-size: 1.2rem;
  margin-right: 3px;
}

.feature-bar-btn{
  height: 74px;
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
}
