<mat-list class="feature-bar-outline">
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard/savedproject']" placement="right"
      ngbTooltip="Open the saved user projects">
      <i class="fa fa-product-hunt" aria-hidden="true"></i>
      Saved Project</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard/userfile']" placement="right"
      ngbTooltip="Look up the user files">
      <i class="fa fa-book" aria-hidden="true"></i>
      User File</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard/userdictionary']" placement="right"
      ngbTooltip="Look up the user dictionaries">
      <i class="fa fa-book" aria-hidden="true"></i>
      User Dictionary</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right"
      ngbTooltip="Check the running processes">
      <i class="fa fa-align-left"></i>
      Running Project</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right"
      ngbTooltip="Check the data sources">
      <i class="fa fa-database" aria-hidden="true"></i>
      Data Source</button>
    <mat-divider></mat-divider>
</mat-list>
