<nav class="texera-navigation-body navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand texera-navigation-title" href="#">
    Texera <span class="version-number">0.3.0</span>
  </a>
  <div class="collapse navbar-collapse texera-navigation-utilities">
    <i class="navbar-brand utility-button fa fa-search-minus" (click)="onClickZoomOut()" title="zoom in"></i>
    <i class="navbar-brand utility-button fa fa-search-plus" (click)="onClickZoomIn()" title="zoom in"></i>
    <i class="navbar-brand utility-button fa fa-arrows-alt" (click)="onClickRestoreZoomOffsetDefaullt()" title="reset zoom"></i>
    <!-- <i class="navbar-brand fa fa-cloud-download" [ngClass]="{'utility-button-disabled' : !executionResultID,
      'utility-button': executionResultID}" (click)="onClickDownloadExecutionResult()"
      title="download execution result"></i> -->

      <div ngbDropdown class="d-inline-block">
        <i class="navbar-brand fa fa-cloud-download"  [ngClass]="{'utility-button-disabled' : !executionResultID,
        'utility-button': executionResultID}" id="downloadExcelOptions" ngbDropdownToggle
          title="download execution result"></i>
        <div class="drop-down-menu" ngbDropdownMenu aria-labelledby="downloadExcelOptions">
          <button class="drop-down-item" ngbDropdownItem (click)="onClickDownloadExecutionResult('json')">Json File (*.json)</button>
          <button class="drop-down-item" ngbDropdownItem (click)="onClickDownloadExecutionResult('csv')"> CSV File (*.csv)</button>
          <button class="drop-down-item" ngbDropdownItem (click)="onClickDownloadExecutionResult('xlsx')">XLSX File (*.xlsx)</button>
        </div>
      </div>


  </div>
  <div class="collapse navbar-collapse texera-navigation-execute">
    <div class="button" tourAnchor="texera-workspace-navigation-run">
      <button class="btn btn-secondary texera-workspace-tour-run" (click)="tourService.toggle()" tourAnchor="start.tour">
          <span>
            <i id="texera-tour-icon" class="fa fa-question-circle-o" aria-hidden="true"></i>
          </span>
      </button>

      <button mat-raised-button class="texera-navigation-run-button texera-navigation-run-text" (click)="onButtonClick()">
        <span>
          <i *ngIf="!runSpinner()" id="texera-run-icon" class="fa fa-play" aria-hidden="true"></i>
          <i *ngIf="runSpinner()" id="texera-pause-icon" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </span>
        <span>
            {{ getRunButtonText()}}
        </span>
      </button>
    </div>
  </div>
</nav>
