@import '../workspace.component.scss';
.texera-workspace-workflow-editor-body {
  overflow: hidden;
}

.texera-workspace-workflow-jointjs {
  background-color: #f6f6f6;
}


/**
  * Component styles normally apply only to the HTML in the component's own template.
  * Using ::ng-deep would force a style down through
  * the child component tree into all the child component views
  *
  * The styles defined here under ::ng-deep is used to override
  * the default style of the operators defined by the JointJS.
  * !important forces the browser to make the style defined here
  * higher prioritized.
  **/
::ng-deep .texera-workspace-workflow-editor-body .marker-arrowhead {
  fill: #919191 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .connection {
  stroke: #919191 !important;
  stroke-width: 2 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .connection-wrap {
  stroke: #919191 !important;
  stroke-width: 0 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove {
  width: 24px !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove path {
  fill: #D8656A !important;
  transform: translate(-12px, -12px)  !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove circle{
  fill-opacity: 0 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .available-magnet{
  fill: #6F9D52 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .available-cell rect {
  stroke: #70C883 !important;
}
