.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#sortDropdown {
  margin-right: 20px;
}

.add-button{
  margin-left: 5px;
}
/**
* this css is used for creating a 2*1 grid area for the 2 main
* sub parts. The first row contains add and sort button. The second
* row contains the saved project list. The percentages define the size
* of each column and row.
*              ******************
*              *                *
*              ******************
*              *                *
*              *                *
*              *                *
*              *                *
*              ******************
**/
$header-height: 70px;
.saved-project-container{
  display: grid;
  grid-template-rows : $header-height calc((100% - #{$header-height}))
}

/**
* the grid of the first row which contains the add and sort button.
* The position of the first row is fix. no adaptation
**/
.project-section-title{
  grid-row-start: 1;
  grid-row-end: 2;
}

/**
* the grid of the list of saved project. Each project contains the name, created time and last
* edited time. This section is flexible to expand downward.
**/
.project-list{
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: auto;
}

.project-list-item{
  border: 1px solid #d2d7df;
  border-radius: 3px;
  margin-bottom : 1.5%;
  width : 100%;
  height : 20%;
  padding : 5px 0px 5px 0px;
}

.time-space{
  margin-left: 3%;
}

/**
* the location of sort button
**/
.sorting_func{
  text-align: left;
}

.gap-filler{
  flex: 1 1 auto;
}

.project-title{
  font-size:20px;
  font-family:Roboto, Arial, sans-serif;
}

.project-time{
  font-family:Roboto, Arial, sans-serif;
  color:gray
}

.page-title{
  font-family:Roboto, Arial, sans-serif;
}
