<div class="user-dictionary-container subsection-grid-container">

  <mat-card class="button-area subsection-grid-container">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="sortDropdown" ngbDropdownToggle>Sort</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <mat-list>
          <button mat-button class="sorting_func" (click)="ascSort()">A -> Z</button>
          <mat-divider></mat-divider>
          <button mat-button class="sorting_func" (click)="dscSort()">Z -> A</button>
          <mat-divider></mat-divider>
          <button mat-button class="sorting_func" (click)="sizeSort()">By Dictionary Size</button>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <button type="button" class="btn btn-outline-dark add-button" (click)="openNgbdModalResourceAddComponent()">
        <i class="fa fa-cloud-upload"></i>
      </button>
    </div>
  </mat-card>

  <mat-card class="user-dictionary-list subsection-grid-container">
    <mat-card-content>
      <mat-list>
        <h2 class="page-title">Dictionaries</h2>
        <br />
        <div class="scroll">
          <mat-list-item *ngFor="let dictionary of userDictionaries" class="user-dictionary-list-item">
            <ng-template #tipContent>Description: {{dictionary.description}}</ng-template>
            <div class="section-for-tip" placement="bottom" [ngbTooltip]="tipContent">
              <p font-size=10px><span class="dict-name">
                  {{dictionary.name}}</span>
              </p>
              <p>
                Item Preview:
                <mat-chip class="preview-item" *ngFor="let item of dictionary.items.slice(0,3)" [selectable]="true" >
                  {{item}}
                </mat-chip>
              </p>
            </div>
            <span class="gap-filler"></span>
            <button type="button" class="btn btn-outline-dark view-button" (click)="openNgbdModalResourceViewComponent(dictionary)">View</button>
            <button mat-button class="delete-project-btn" placement="bottom" ngbTooltip="Delete the {{dictionary.name}}"
              (click)="openNgbdModalResourceDeleteComponent(dictionary)"><i class="fa fa-trash"></i></button>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
