<div class="modal-header">
  <h4 class="modal-title">User Authorization</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" animationDuration="0ms">
    <!-- login tab -->
    <mat-tab label="Sign In">
      <div class= "content">
        <mat-dialog-content>
          <mat-form-field>
            <input matInput [(ngModel)]="loginUserName" placeholder="Username">
          </mat-form-field>
        </mat-dialog-content>
        <div><button class = "btn btn-info" (click) = "login()"> Sign In </button></div>
        <p *ngIf="loginErrorMessage">{{ loginErrorMessage }}</p>
      </div>
    </mat-tab>

    <!-- register tab -->
    <mat-tab label="Sign Up">
      <div class= "content">
        <mat-dialog-content>
          <mat-form-field>
            <input matInput [(ngModel)]="registerUserName" placeholder="Username">
          </mat-form-field>
        </mat-dialog-content>
        <div><button class = "btn btn-info" (click) = "register()"> Sign Up </button></div>
        <p *ngIf="registerErrorMessage">{{ registerErrorMessage }}</p>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
<div class="modal-footer">
  <button class = "btn btn-outline-dark" (click) = "activeModal.dismiss('close')">Close</button>
</div>
