<div class="texera-workspace-operator-panel-body">
  <mat-accordion multi="false">
    <mat-expansion-panel class="mat-elevation-z3 texera-operator-group-panel" *ngFor="let groupName of groupNamesOrdered">
      <mat-expansion-panel-header class="texera-operator-group-name" [tourAnchor]='groupName'>
        {{groupName}}
      </mat-expansion-panel-header>
      <div  *ngFor="let operatorSchema of operatorGroupMap.get(groupName)">
        <texera-operator-label class="texerea-operator-name-wrapper" [operator]="operatorSchema"></texera-operator-label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
