.texera-operator-label-body {
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: transparent;

    &:hover {
        background-color: #f4f5f6;
        cursor: pointer;
    }
}

// sets the style for the popup tooltips,
// ::ng-deep is needed to force the style down to all the tooltip windows
.texera-operator-label-body ::ng-deep .tooltip-inner{
  color: black;
  background: lightgray;
}
