/**
  * this css forces the texera user-interface
  * to cover the entire browser window
  **/
.grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

/**
  * this style is used by all the sub-components
  * to utilize the entire area specified to them by the css grids
  **/
.texera-workflow-component-body {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

/**
  * this css is used for creating a 3x3 grid area for the 5
  * sub-components. The percentages define the size of each
  * column and row. $header-height is the default height
  * set for the navigation bar. The function calc() calculates
  * the row percentage used for workflow-editor and result-panel. We
  * need to use calc() because when we are using auto or percentage, the
  * size will be based on the child component. Using auto and percentage
  * with a fixed px (header-height) will crash.
  */
$header-height: 56px;
.texera-workspace-grid-container {
  display: grid;
  grid-template-columns: 14% 70% 16%;
  grid-template-rows: $header-height calc((100% - #{$header-height}) * 0.75) calc((100% - #{$header-height}) * 0.25)
}

/**
  * this style specifies that the navigation component will
  * use all three columns and the first row.
  */
.texera-navigation-grid-container {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/**
  * this style specifies that the operator bar on the left will
  * occupy the first column count from the left and use second and third rows.
  * Overflow auto creates a scrollbar when the content exceeds the size
  * of the grid
  */

.texera-operator-panel-grid-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: auto;
}

/**
  * this style specifies that the property editor for the operators
  * on the right will occupy the 3rd (last) columm and use second and third
  * rows. Overflow auto creates a scrollbar when the content exceeds the size
  * of the grid
  */
.texera-property-editor-grid-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: auto;
}

/**
* this style specifies that the workflow editor in the middle
* will occupy the 2nd (middle) columm and use the second row (middle)
**/

.texera-workflow-editor-grid-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/**
  * this style specifies that the result panel in the middle
  * will occupy the 2nd (middle) columm and use the last row (middle). It will
  * be right under the workflow-editor
  */
.texera-result-panel-grid-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
}
