.texera-operator-label-body {
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:hover {
        background-color: #f4f5f6;
        cursor: pointer;
    }
}
